@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: "Plus Jakarta Sans", sans-serif;
}

@theme {
    --font-sans: "Plus Jakarta Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-sans);
    background-color: var(--background);
}